@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700&display=swap");

.card-wrapper {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  border: 3px solid #407088;
  box-shadow: 1px 1px 4px rgba(19, 39, 67, 0.3);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
}
.card:hover,
.card.hover {
  border-color: #407088;
}
.card:hover .card-head,
.card.hover .card-head,
.card:hover .card-body,
.card.hover .card-body {
  transform: translateY(0);
}
.card .card-head {
  transform: translate(10%, 85%);
  transition: 0.3s ease all;
}
.card .card-head svg {
  width: 120px;
  height: 120px;
}
.card .card-head svg path {
  fill: #ffb5b5;
}
.card .card-head h2 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0 1rem;
}
.card .card-body {
  transform: translateY(100%);
  transition: 0.3s ease all;
}
.card .card-body .title {
  font-family: "Oswald", sans-serif;
  padding: 0 1rem 0.25rem;
  color: #ffb5b5;
}
.card .card-body .desc {
  padding: 0.5rem 1rem;
  order: 99;
}
.card .card-body .actions {
  order: 100;
  padding: 0.5rem 1rem;
}
.card .card-body .actions button {
  background: transparent;
  border: 0;
  color: #ffb5b5;
  font-size: 20px;
  width: 32%;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s ease all;
}
.card .card-body .actions button:hover {
  color: #407088;
  transform: translateY(-5px);
}
