.circle-btn {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 300 1.55rem/1.4 "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}
.circle-btn__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #2b3338;
  stroke: #2b3338;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-btn__cloud {
  transform-origin: 50% 50%;
  animation: rotate normal infinite 60s linear;
  fill: #a6b8b1;
}

.circle-btn__face,
.circle-btn__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
}
.circle-btn:hover .circle-btn__face,
.circle-btn:hover .circle-btn__arrow {
  transform: scale(1.2);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.circle-btn__arrow {
  stroke-width: 0.075em;
}

.circle-btn__text {
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}

.circle-btn:hover .circle-btn__text {
  animation-play-state: paused;
}

.circle-btn--alt {
  font-size: 1.15rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  to {
    transform: rotate(-360deg);
  }
}
