.cloud-container {
  background-color: #554091;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.cloud1,
.cloud2,
.cloud3 {
  transform: scale(0.4);
  position: absolute;
  left: -180px;
  width: 420px;
  height: 100%;
  overflow: hidden;
  animation: moveCloud1 6s alternate infinite ease-in-out;
}
.cloud1__face,
.cloud2__face,
.cloud3__face {
  position: absolute;
  top: 115px;
  left: 150px;
  width: 100px;
  height: 50px;
  z-index: 10;
}
.cloud1__face span:first-child,
.cloud2__face span:first-child,
.cloud3__face span:first-child {
  position: absolute;
  top: 20px;
  left: 18px;
  transform: rotate(55deg);
  width: 25px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
}
.cloud1__face span:first-child:after,
.cloud2__face span:first-child:after,
.cloud3__face span:first-child:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -9px;
  transform: rotate(-30deg);
  width: 25px;
  height: 8px;
  border-radius: 10px;
  background-color: #7e54ff;
}
.cloud1__face span:last-child,
.cloud2__face span:last-child,
.cloud3__face span:last-child {
  position: absolute;
  top: 20px;
  right: 18px;
  transform: rotate(-55deg);
  width: 25px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
}
.cloud1__face span:last-child:after,
.cloud2__face span:last-child:after,
.cloud3__face span:last-child:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 9px;
  transform: rotate(30deg);
  width: 25px;
  height: 8px;
  border-radius: 10px;
  background-color: #7e54ff;
}
.cloud1__clouds1,
.cloud2__clouds1,
.cloud3__clouds1 {
  position: relative;
  padding-top: 100px;
  top: -50px;
  left: 185px;
  z-index: 1;
}
.cloud1__clouds1 span,
.cloud2__clouds1 span,
.cloud3__clouds1 span {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 40px;
  animation: scale 2s infinite alternate ease-in-out;
  animation-delay: 0.4s;
}
.cloud1__clouds2,
.cloud2__clouds2,
.cloud3__clouds2 {
  position: relative;
  top: -30px;
  left: 145px;
  z-index: 1;
}
.cloud1__clouds2 span:nth-child(1),
.cloud2__clouds2 span:nth-child(1),
.cloud3__clouds2 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 40px;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 2.5s infinite;
  animation-delay: 0.1s;
}
.cloud1__clouds2 span:nth-child(2),
.cloud2__clouds2 span:nth-child(2),
.cloud3__clouds2 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 80px;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 3.5s infinite;
  animation-delay: 0.1s;
}
.cloud1__clouds2 span:nth-child(3),
.cloud2__clouds2 span:nth-child(3),
.cloud3__clouds2 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 120px;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 4.5s infinite;
  animation-delay: 0.1s;
}
.cloud1__clouds3,
.cloud2__clouds3,
.cloud3__clouds3 {
  position: relative;
  top: 0px;
  left: 110px;
  z-index: 1;
}
.cloud1__clouds3 span:nth-child(1),
.cloud2__clouds3 span:nth-child(1),
.cloud3__clouds3 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 40px;
  animation: scale 2s infinite alternate ease-in-out, lightCloud 4s infinite;
  animation-delay: 0.2s;
}
.cloud1__clouds3 span:nth-child(2),
.cloud2__clouds3 span:nth-child(2),
.cloud3__clouds3 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 80px;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 5s infinite;
  animation-delay: 0.2s;
}
.cloud1__clouds3 span:nth-child(3),
.cloud2__clouds3 span:nth-child(3),
.cloud3__clouds3 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 120px;
  animation: scale 2s infinite alternate ease-in-out, lightCloud 6s infinite;
  animation-delay: 0.2s;
}
.cloud1__clouds3 span:nth-child(4),
.cloud2__clouds3 span:nth-child(4),
.cloud3__clouds3 span:nth-child(4) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 160px;
  animation: scale 2s infinite alternate ease-in-out, lightCloud 7s infinite;
  animation-delay: 0.2s;
}
.cloud1__clouds3 span:nth-child(5),
.cloud2__clouds3 span:nth-child(5),
.cloud3__clouds3 span:nth-child(5) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 200px;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 8s infinite;
  animation-delay: 0.2s;
}
.cloud1__clouds4,
.cloud2__clouds4,
.cloud3__clouds4 {
  position: relative;
  top: 30px;
  left: 75px;
  z-index: 1;
}
.cloud1__clouds4 span:nth-child(1),
.cloud2__clouds4 span:nth-child(1),
.cloud3__clouds4 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 40px;
  animation: scale 1s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(2),
.cloud2__clouds4 span:nth-child(2),
.cloud3__clouds4 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 80px;
  animation: scale 1s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(3),
.cloud2__clouds4 span:nth-child(3),
.cloud3__clouds4 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 120px;
  animation: scale 1s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(4),
.cloud2__clouds4 span:nth-child(4),
.cloud3__clouds4 span:nth-child(4) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 160px;
  animation: scale 1s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(5),
.cloud2__clouds4 span:nth-child(5),
.cloud3__clouds4 span:nth-child(5) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 200px;
  animation: scale 2s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(6),
.cloud2__clouds4 span:nth-child(6),
.cloud3__clouds4 span:nth-child(6) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 240px;
  animation: scale 2s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds4 span:nth-child(7),
.cloud2__clouds4 span:nth-child(7),
.cloud3__clouds4 span:nth-child(7) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 280px;
  animation: scale 1s infinite alternate ease-in-out;
  animation-delay: 0.5s;
}
.cloud1__clouds5,
.cloud2__clouds5,
.cloud3__clouds5 {
  position: relative;
  left: 30px;
  top: 60px;
}
.cloud1__clouds5 span:nth-child(1),
.cloud2__clouds5 span:nth-child(1),
.cloud3__clouds5 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 40px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(2),
.cloud2__clouds5 span:nth-child(2),
.cloud3__clouds5 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 80px;
  background-color: #8e69f7;
  animation: scale 2s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(3),
.cloud2__clouds5 span:nth-child(3),
.cloud3__clouds5 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 120px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(4),
.cloud2__clouds5 span:nth-child(4),
.cloud3__clouds5 span:nth-child(4) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 160px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(5),
.cloud2__clouds5 span:nth-child(5),
.cloud3__clouds5 span:nth-child(5) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 200px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(6),
.cloud2__clouds5 span:nth-child(6),
.cloud3__clouds5 span:nth-child(6) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 240px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(7),
.cloud2__clouds5 span:nth-child(7),
.cloud3__clouds5 span:nth-child(7) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 280px;
  background-color: #8e69f7;
  animation: scale 2s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(8),
.cloud2__clouds5 span:nth-child(8),
.cloud3__clouds5 span:nth-child(8) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 320px;
  background-color: #8e69f7;
  animation: scale 1s infinite alternate ease-in-out;
}
.cloud1__clouds5 span:nth-child(9),
.cloud2__clouds5 span:nth-child(9),
.cloud3__clouds5 span:nth-child(9) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  left: 360px;
  background-color: #8e69f7;
  animation: scale 2s infinite alternate ease-in-out;
}
.cloud1__rain,
.cloud2__rain,
.cloud3__rain {
  position: relative;
  height: 100%;
  z-index: -1;
}
.cloud1__rain span:nth-child(1),
.cloud2__rain span:nth-child(1),
.cloud3__rain span:nth-child(1) {
  position: absolute;
  top: 59px;
  left: 30px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(2),
.cloud2__rain span:nth-child(2),
.cloud3__rain span:nth-child(2) {
  position: absolute;
  top: 59px;
  left: 60px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(3),
.cloud2__rain span:nth-child(3),
.cloud3__rain span:nth-child(3) {
  position: absolute;
  top: 59px;
  left: 90px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(4),
.cloud2__rain span:nth-child(4),
.cloud3__rain span:nth-child(4) {
  position: absolute;
  top: 59px;
  left: 120px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 1s;
}
.cloud1__rain span:nth-child(5),
.cloud2__rain span:nth-child(5),
.cloud3__rain span:nth-child(5) {
  position: absolute;
  top: 59px;
  left: 150px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(6),
.cloud2__rain span:nth-child(6),
.cloud3__rain span:nth-child(6) {
  position: absolute;
  top: 59px;
  left: 180px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 1s;
}
.cloud1__rain span:nth-child(7),
.cloud2__rain span:nth-child(7),
.cloud3__rain span:nth-child(7) {
  position: absolute;
  top: 59px;
  left: 210px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 1s;
}
.cloud1__rain span:nth-child(8),
.cloud2__rain span:nth-child(8),
.cloud3__rain span:nth-child(8) {
  position: absolute;
  top: 59px;
  left: 240px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(9),
.cloud2__rain span:nth-child(9),
.cloud3__rain span:nth-child(9) {
  position: absolute;
  top: 59px;
  left: 270px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 2s;
}
.cloud1__rain span:nth-child(10),
.cloud2__rain span:nth-child(10),
.cloud3__rain span:nth-child(10) {
  position: absolute;
  top: 59px;
  left: 300px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(11),
.cloud2__rain span:nth-child(11),
.cloud3__rain span:nth-child(11) {
  position: absolute;
  top: 59px;
  left: 330px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 2s;
}
.cloud1__rain span:nth-child(12),
.cloud2__rain span:nth-child(12),
.cloud3__rain span:nth-child(12) {
  position: absolute;
  top: 59px;
  left: 360px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(13),
.cloud2__rain span:nth-child(13),
.cloud3__rain span:nth-child(13) {
  position: absolute;
  top: 59px;
  left: 390px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(14),
.cloud2__rain span:nth-child(14),
.cloud3__rain span:nth-child(14) {
  position: absolute;
  top: 59px;
  left: 420px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(15),
.cloud2__rain span:nth-child(15),
.cloud3__rain span:nth-child(15) {
  position: absolute;
  top: 59px;
  left: 450px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(16),
.cloud2__rain span:nth-child(16),
.cloud3__rain span:nth-child(16) {
  position: absolute;
  top: 59px;
  left: 480px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(17),
.cloud2__rain span:nth-child(17),
.cloud3__rain span:nth-child(17) {
  position: absolute;
  top: 59px;
  left: 510px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(18),
.cloud2__rain span:nth-child(18),
.cloud3__rain span:nth-child(18) {
  position: absolute;
  top: 59px;
  left: 540px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 1s;
}
.cloud1__rain span:nth-child(19),
.cloud2__rain span:nth-child(19),
.cloud3__rain span:nth-child(19) {
  position: absolute;
  top: 59px;
  left: 570px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(20),
.cloud2__rain span:nth-child(20),
.cloud3__rain span:nth-child(20) {
  position: absolute;
  top: 59px;
  left: 600px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(21),
.cloud2__rain span:nth-child(21),
.cloud3__rain span:nth-child(21) {
  position: absolute;
  top: 59px;
  left: 630px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(22),
.cloud2__rain span:nth-child(22),
.cloud3__rain span:nth-child(22) {
  position: absolute;
  top: 59px;
  left: 660px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(23),
.cloud2__rain span:nth-child(23),
.cloud3__rain span:nth-child(23) {
  position: absolute;
  top: 59px;
  left: 690px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(24),
.cloud2__rain span:nth-child(24),
.cloud3__rain span:nth-child(24) {
  position: absolute;
  top: 59px;
  left: 720px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(25),
.cloud2__rain span:nth-child(25),
.cloud3__rain span:nth-child(25) {
  position: absolute;
  top: 59px;
  left: 750px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: -1s;
}
.cloud1__rain span:nth-child(26),
.cloud2__rain span:nth-child(26),
.cloud3__rain span:nth-child(26) {
  position: absolute;
  top: 59px;
  left: 780px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:nth-child(27),
.cloud2__rain span:nth-child(27),
.cloud3__rain span:nth-child(27) {
  position: absolute;
  top: 59px;
  left: 810px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 3s;
}
.cloud1__rain span:nth-child(28),
.cloud2__rain span:nth-child(28),
.cloud3__rain span:nth-child(28) {
  position: absolute;
  top: 59px;
  left: 840px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 1s;
}
.cloud1__rain span:nth-child(29),
.cloud2__rain span:nth-child(29),
.cloud3__rain span:nth-child(29) {
  position: absolute;
  top: 59px;
  left: 870px;
  width: 5px;
  height: 40px;
  border-radius: 30%;
  background-color: #4f9eff;
  animation: rainCloud1 6s infinite linear;
  animation-delay: 0s;
}
.cloud1__rain span:last-child,
.cloud2__rain span:last-child,
.cloud3__rain span:last-child,
.cloud1__rain span:first-child,
.cloud2__rain span:first-child,
.cloud3__rain span:first-child {
  display: none;
}
.cloud1__lightning,
.cloud2__lightning,
.cloud3__lightning {
  position: absolute;
  left: 50px;
  top: 200px;
  height: 100%;
  width: 100px;
  opacity: 0;
  z-index: -1;
  animation: lightning 5s infinite, moveLightning 10s infinite alternate;
  animation-delay: 3;
}
.cloud1__lightning div:first-child,
.cloud2__lightning div:first-child,
.cloud3__lightning div:first-child {
  position: absolute;
  width: 50px;
  height: 300px;
  transform: skew(-10deg, -10deg);
  background-color: #f2f2f2;
}
.cloud1__lightning div:nth-child(2),
.cloud2__lightning div:nth-child(2),
.cloud3__lightning div:nth-child(2) {
  position: absolute;
  top: 230px;
  left: -15px;
  width: 50px;
  height: 300px;
  transform: skew(-10deg, -10deg);
  background-color: #f2f2f2;
}
.cloud1__lightning div:last-child,
.cloud2__lightning div:last-child,
.cloud3__lightning div:last-child {
  position: absolute;
  top: 460px;
  left: -30px;
  width: 50px;
  height: 300px;
  transform: skew(-10deg, -10deg);
  background-color: #f2f2f2;
}
.cloud2 {
  top: 100px;
  left: 0;
  animation: moveCloud2 8s alternate infinite ease-in-out;
}
.cloud2__clouds2 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  background-color: #9674fc;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 2.9s infinite;
  animation-delay: 0.7s;
}
.cloud2__clouds2 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  background-color: #9674fc;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 3.9s infinite;
  animation-delay: 0.7s;
}
.cloud2__clouds2 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  background-color: #9674fc;
  animation: scale 2s infinite alternate ease-in-out, lightCloud 4.9s infinite;
  animation-delay: 0.7s;
}
.cloud2__rain span:nth-child(1) {
  animation-delay: 3s;
}
.cloud2__rain span:nth-child(2) {
  animation-delay: -1s;
}
.cloud2__rain span:nth-child(3) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(4) {
  animation-delay: 2s;
}
.cloud2__rain span:nth-child(5) {
  animation-delay: 3s;
}
.cloud2__rain span:nth-child(6) {
  animation-delay: 2s;
}
.cloud2__rain span:nth-child(7) {
  animation-delay: 3s;
}
.cloud2__rain span:nth-child(8) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(9) {
  animation-delay: 2s;
}
.cloud2__rain span:nth-child(10) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(11) {
  animation-delay: 2s;
}
.cloud2__rain span:nth-child(12) {
  animation-delay: 3s;
}
.cloud2__rain span:nth-child(13) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(14) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(15) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(16) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(17) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(18) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(19) {
  animation-delay: -1s;
}
.cloud2__rain span:nth-child(20) {
  animation-delay: -1s;
}
.cloud2__rain span:nth-child(21) {
  animation-delay: -1s;
}
.cloud2__rain span:nth-child(22) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(23) {
  animation-delay: -1s;
}
.cloud2__rain span:nth-child(24) {
  animation-delay: 2s;
}
.cloud2__rain span:nth-child(25) {
  animation-delay: 3s;
}
.cloud2__rain span:nth-child(26) {
  animation-delay: 0s;
}
.cloud2__rain span:nth-child(27) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(28) {
  animation-delay: 1s;
}
.cloud2__rain span:nth-child(29) {
  animation-delay: 0s;
}
.cloud2__lightning {
  animation: lightning 6s infinite, moveLightning 7s infinite alternate;
  animation-delay: 1;
}
.cloud3 {
  top: 25px;
  left: 75px;
  animation: moveCloud3 7s alternate infinite ease-in-out;
  animation-delay: 1;
}
.cloud3__clouds3 span:nth-child(1) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 1.9s infinite;
  animation-delay: 1.6s;
}
.cloud3__clouds3 span:nth-child(2) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 2.9s infinite;
  animation-delay: 1.6s;
}
.cloud3__clouds3 span:nth-child(3) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  animation: scale 2s infinite alternate ease-in-out, lightCloud 3.9s infinite;
  animation-delay: 1.6s;
}
.cloud3__clouds3 span:nth-child(4) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 4.9s infinite;
  animation-delay: 1.6s;
}
.cloud3__clouds3 span:nth-child(5) {
  display: inline-block;
  position: absolute;
  transform: translateX(-45px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a586ff;
  animation: scale 1s infinite alternate ease-in-out, lightCloud 5.9s infinite;
  animation-delay: 1.6s;
}
.cloud3__rain span:nth-child(1) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(2) {
  animation-delay: 3s;
}
.cloud3__rain span:nth-child(3) {
  animation-delay: 0s;
}
.cloud3__rain span:nth-child(4) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(5) {
  animation-delay: 3s;
}
.cloud3__rain span:nth-child(6) {
  animation-delay: 2s;
}
.cloud3__rain span:nth-child(7) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(8) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(9) {
  animation-delay: 3s;
}
.cloud3__rain span:nth-child(10) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(11) {
  animation-delay: -2s;
}
.cloud3__rain span:nth-child(12) {
  animation-delay: 2s;
}
.cloud3__rain span:nth-child(13) {
  animation-delay: 2s;
}
.cloud3__rain span:nth-child(14) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(15) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(16) {
  animation-delay: -2s;
}
.cloud3__rain span:nth-child(17) {
  animation-delay: -2s;
}
.cloud3__rain span:nth-child(18) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(19) {
  animation-delay: -2s;
}
.cloud3__rain span:nth-child(20) {
  animation-delay: 0s;
}
.cloud3__rain span:nth-child(21) {
  animation-delay: 3s;
}
.cloud3__rain span:nth-child(22) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(23) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(24) {
  animation-delay: 1s;
}
.cloud3__rain span:nth-child(25) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(26) {
  animation-delay: -2s;
}
.cloud3__rain span:nth-child(27) {
  animation-delay: -1s;
}
.cloud3__rain span:nth-child(28) {
  animation-delay: 4s;
}
.cloud3__rain span:nth-child(29) {
  animation-delay: 2s;
}
.cloud3__lightning {
  animation: lightning 4s infinite, moveLightning 3.5s infinite alternate;
  animation-delay: 2;
}
@keyframes scale {
  to {
    transform: translateX(-45px) scale(1.5, 1.5);
  }
}
@keyframes lightCloud {
  50% {
    background-color: #a586ff;
  }
  52% {
    background-color: #f2f2f2;
  }
  54% {
    background-color: #a586ff;
  }
}
@keyframes moveCloud1 {
  to {
    transform: translateX(600px);
  }
}
@keyframes moveCloud2 {
  to {
    transform: translateX(600px);
  }
}
@keyframes moveCloud3 {
  to {
    transform: translateX(400px);
  }
}
@media screen and (max-width: 1400px) {
  @keyframes moveCloud1 {
    to {
      transform: translateX(200px);
      scale: 0.5;
    }
  }
  @keyframes moveCloud2 {
    to {
      transform: translateX(300px);
      scale: 0.3;
    }
  }
  @keyframes moveCloud3 {
    to {
      transform: translateX(100px);
    }
  }
}
@keyframes rainCloud1 {
  to {
    transform: translateY(960px);
  }
}
@keyframes lightning {
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
}
@keyframes moveLightning {
  to {
    transform: translateX(200px);
  }
}
