@font-face {
  font-family: "Liberty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
}

.ilu-text {
  font-family: "Liberty";
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: -0.25em;
  flex-flow: row;
}

.ilu-text .letter {
  color: #d9fdff;
  text-shadow: 0 0 2rem #00f0ff;
  display: inline-block;
  user-select: none;
}

.letter.letter-2 {
  transform: translate(-0.2rem, 1rem) rotate(10deg);
  animation: flicker 2s ease-in-out infinite alternate;
}

.letter.letter-4 {
  transform: translate(0.2rem, 1rem) rotate(-10deg);
  animation: flicker 2.5s ease-in-out infinite alternate;
}

@keyframes ilu-flicker {
  0% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  6% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }

  6.5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  8% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg);
  }

  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg);
  }
}

/*  */
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
